@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Crang;
    text-align: center;
}

/* p {
  @apply text-xl md:text-3xl
}
 */
@font-face {
    font-family: Crang;
    src: url('Crang.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#board {
    background-color: black;
}

.levitate {
    animation: levitate 2.5s infinite;
}

.levitate-1 {
  animation: levitate1 3s infinite;
}

@keyframes levitate {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
}
@keyframes levitate1 {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

.canvas-container {
  max-width: 100%;
  width: auto;
  height: auto; 
  display: block;
}